
div#dane{
    
    border: solid thin grey;
}
div#scene{
    
}
label.dane{
    text-align: right;
}
canvas{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
   // border: solid thin #222;
}

